.p-SizeValue {
    font-size: xx-large;
    font-weight: bold;
    color: var(--green);
    z-index: 2;
}

.sum {
    color: var(--green);
    font-weight: bold;
    font-size: x-large;
}

.dropdown {
    position: relative;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.dropdown__btn {
    -webkit-appearance: none;
    background-color: #fff;
    border: 0;
    padding: 7px;
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    position: relative;
}
.dropdown__btn--left {
    background-color: var(--light-blue);
    color: #fff;
}

.dropdown__btn--right:after {
    content: '\25BC';
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 14px 0px  #888888;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #6D9BB5;}

#btn-currency {
    font-weight: bold;
}
  