/* Sidebar content div start */
.nav-sidebar{
    position: fixed;
    width: 18%;
    height: 49%;
    z-index: 2;
    left: 0%;
    top: 8%;
    overflow: hidden;

}

.icon-sidebar {
    width: 20px;
    height: 20px;
}

.title-sidebar {
    font-weight: bold;
    font-size: large;
}

.list-sidebar {
    font-weight: bold;
    font-size: medium;

}

.list-sidebar-moretext {
    font-size: medium;
}

.div-link-text-sidebar {
    color: black;
    cursor: pointer;
}

.links-sidebar {
    position: fixed;
    width: 18%;
    height: 24%;
    
    z-index: 2;
    left: 1%;
    top: 60%;
    overflow: auto;
}

.list-links-sidebar {
    font-weight: bold;
    font-size: 28px;
    list-style: none;
    top: 20%;
 
}

.href-link-text-sidebar {
    color: black;
}

/* Sidebar content div end */